@page
@model MangaExpressController.Pages.PagesAdmin.CrudManga.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inicio</title>
</head>
<body>
<p>
    <a asp-page="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MangaM[0].Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MangaM) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">detalles</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
